---
import Layout from "../../layout/Layout.astro";
import axios from "axios";

// export const prerender = false;

const { id } = Astro.params;
const response = await axios.get(`http://localhost:3000/services/${id}`);
	const service = response.data;
	console.log(service)
---

<Layout navActive={3} title="Astro | Servicio" >
	<div class="h-20" />
    <h1>{service.titulo}</h1>
    <p>{service.descripcion}</p>
</Layout>
