---
import Layout from "../../layout/Layout.astro";
import InputTitle from "../../components/InputTitle.astro";
import InputDescription from "../../components/InputDescription.astro";
---

<Layout navActive={3} title="Astro | Servicio" >
	<div class="h-20" />

    <form class="max-w-xl mx-auto flex flex-col bg-violet-800 p-10 rounded-3xl">
        <h1 class="text-center font-bold text-2xl text-white mb-6">Crear servicio</h1>
        <div class="space-y-8">
            <label for="" class="flex flex-col space-y-2">
                <InputTitle 
                    titleSpan="Ingresar título de servicio" 
                    titleValue=""
                />
            </label>
            <label for="" class="flex flex-col space-y-2">
                <InputDescription 
                    titleSpan="Ingresar descripción del servicio" 
                    titleValue="" 
                />
            </label>
        </div>
        <div class="flex justify-center mt-8" >
            <button class="bg-orange-500 hover:bg-orange-600 p-2 px-4 rounded-full " type="submit">Enviar servicio</button>
        </div>
    </form>
</Layout>

<script>
import axios from "axios";

    document.querySelector('form').addEventListener('submit', async (e) => {
        e.preventDefault();
        const title = (document.querySelector('#title') as HTMLInputElement).value ;
        const description = (document.querySelector('#description') as HTMLInputElement).value;
        const response = await axios.post('http://localhost:3000/services', 
            { "titulo":title, 
            "descripcion":description 
            }
        );
        if (response.status === 201) {
            (document.querySelector('#title') as HTMLInputElement).value = '';
            (document.querySelector('#description') as HTMLInputElement).value = '';
            window.location.href = '/services';
        } else {
            alert('Error al crear el servicio');
        }
    });
</script>
