---
import Layout from "../../layout/Layout.astro";
import axios from "axios";


	const response = await axios.get("http://localhost:3000/services");
	const services = response.data;
	console.log(services)
---

<Layout navActive={3} title="Astro | Servicio" >
	<div class="h-20" />
    <h1>Servicios</h1>
    <ul>
        {
            services.map((service) => (
                <li>
                    <a href={`services/${service.id}`}>{service.titulo}</a>
                </li>
            ))
        }
    </ul>
    <!-- <p>A continuación se muestran las rutas posibles a acceder:</p> -->
    <!-- <ul class="flex flex-col" >
        <li>
            <a href="services/show/5">Show con id 5</a>
        </li>
        <li>
            <a href="services/create">Create</a>
            
        </li>
        <li>
            <a href="services/edit/8">Edit con id 8</a>

        </li>
    </ul> -->
</Layout>
