---
import Layout from "../../layout/Layout.astro";
---

<Layout title="VideoClub | Catalogo" >
	<div class="h-20" />
    <h1>Este es el Catalogo</h1>
    <p>A continuación se muestran las rutas posibles a acceder:</p>
    <ul class="flex flex-col" >
        <li>
            <a href="catalog/show/5">Show con id 5</a>
        </li>
        <li>
            <a href="catalog/create">Create</a>
            
        </li>
        <li>
            <a href="catalog/edit/8">Edit con id 8</a>

        </li>
    </ul>
</Layout>
