---

---
<div class="flex flex-row justify-between items-center text-white bg-blue-950 text-center text-sm py-2 px-4">
    <ul>
        <li>Derechos reservados</li>
    </ul>
    <ul>
        <li class="font-bold text-2xl md:flex hidden">VideoClub</li>
    </ul>
    <ul class="flex flex-row  space-x-4">
        <li>Términos y Condiciones</li>
        <li>Políticas de Privacidad</li>
    </ul>
</div>