---
import Layout from "../../../layout/Layout.astro";
// export const prerender = false;

const { id } = Astro.params;

---

<Layout navActive={3} title="Astro | Servicio" >
	<div class="h-20" />
    <h1>Este es la sección editar id {id}</h1>
</Layout>
